.teamContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 50px;
}

.teamNav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.teamMember {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.teamMember:hover .teamMemberImg {
	opacity: 1;
	transform: scale(1.2) translateY(15px);
}
.teamMember:hover .memberLogoJs {
	opacity: 1;
	transform: translateY(-50px);
}
.teamMember:hover .memberLogoReact {
	opacity: 1;
	transform: translateY(-50px) rotate(360deg);
}
.teamMember:hover .memberLogoVue {
	opacity: 1;
	transform: translateY(-50px);
}
.teamMember:hover .memberLogoPhp {
	transform: translateY(-50px);
}
.teamMember:hover .teamMemberName {
	transform: scale(1.5) translateY(30px);
}
.teamMember.active .teamMemberLogo {
	opacity: 1;
	transform: translateY(-50px);
}
.teamMember.active .teamMemberImg {
	opacity: 1;
}

.teamMemberImg {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	opacity: 0.6;
	transition: all 0.7s ease-in-out;
}
.teamMemberLogo {
	width: 100px;
	/* display: none; */
}
.teamMemberName {
	transition: all 0.7s ease-in-out;
}
.memberLogoReact {
	margin-bottom: -50px;
	opacity: 0.4;
	transition: all 0.7s ease-in-out;
}
.memberLogoVue {
	margin-bottom: -50px;
	opacity: 0.4;
	transform: rotate(180deg);
	transition: all 0.7s ease-in-out;
}
.memberLogoJs {
	margin-bottom: -50px;
	margin-left: 15px;
	opacity: 0.4;
	transition: all 0.7s ease-in-out;
}
.memberLogoPhp {
	margin-bottom: -40px;
	transition: all 0.7s ease-in-out;
}

.teamDescription {
	margin-top: 40px;
	font-size: 25px;
	text-align: justify;
}
.teamDescription.active {
	animation: 1s linear trans;
}
@keyframes trans {
	from {
		transform: translateX(100vh);
	}
	to {
		transform: translateX(0);
	}
}
